
body{
  margin: 0;
  font-family: sans-serif;
  padding-top: 70px;
}
a{
  text-decoration: none;
  color:white;
}
.fondo {
  background-color: black;
}

header{
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.logo{
  display: flex;
  align-items: center;
  font-size: 20px;
  flex-wrap: wrap;
  
}
.logo img{
  height: 50px;
  margin-right: 10px;
}
nav a{
  font-weight: 600;
  padding-right:  10px;
  font-size: 25px;
  flex-wrap: wrap;
}
nav a:hover{
  color: #00c3ff;
}
@media(max-width: 800px){
  header{
    flex-direction: column;
    height: auto;
  }

}


.subtitulo1 {
  color: white;
  font-size: 20px;
  text-align: center;
}

.row {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;

}

.row img {
  width: 100%;
}

.column {
  flex: 25%;
  padding: 5px;
}

.column img {
  margin: top 5px;

}





.enlace:hover {
  transform: scale(1.1);
}


.subtitulo {
  color: white;
  font-size: 20px;
  margin: 40px;
}

.seguir {
  color: white;
  font-size: 20px;
  margin: 20px;
}



.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1500px;
  margin: 0 auto;
}

.footer {
  padding: 100px 0 50px 0;
}

.footer-link {
  display: flex;
}

.link {
  width: 300px;
}

.link h3 {
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.link p {
  font-size: 18px;
  color: white;
}

.link a {
  font-size: 17px;
  color: aquamarine;
  display: block;
  margin-bottom: 20px;
}

.link a:hover {
  transform: scale(1.1);
}

.link a:hover {
  color: #00c3ff;
  text-decoration: underline;
}

.socials {
  display: flex;
  margin-bottom: 15px;
}

.socials a {
  display: inline-block;
  min-height: 30px;
  min-width: 30px;
  background-color: #00c3ff;
  margin: 0 15px 10px 0;
  text-align: center;
  line-height: 30px;
  border-radius: 100%;
  color: white;
  font-size: 20px;
}

.socials a:hover {
  background-color: black
}

.socials a:hover {
  transform: scale(1.5);
}

/*slide*/

div#slider {
  overflow: hidden;
}

/* las imágenes no van a salir del márgen de la pantalla*/
div#slider figure img {
  width: 20%;
  float: left;
}

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s slidy infinite;
  /*el movimiento se va a mantener de forma indefinida -infinito-*/
}




@media (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    width: 75%;
  }
}

@media (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    margin: 0 auto;
    width: 75%;
  }
}



@media (max-width: 900px) {
  .column {
    margin-top: 10px;
    flex: 100%;
  }
}


@media (max-width: 400px) {
  .column {
    flex: auto;
  }
}






/*esta parte del código define el movimiento de las imágenes a la izquierda*/
@keyframes slidy {
  0% {
    left: 0%;
  }

  20% {
    left: 0%;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}

@media(max-width: 991px) {
  div#slider {
    width: 150%;
  }
}


@media(max-width: 710px) {
  div#slider {
    width: 100%;
  }
}

@media(max-width: 560px) {
  div#slider {
    width: 125%;
  }
}

@media(max-width: 430px) {
  div#slider {
    width: 140%;
  }
}